@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif;

}

.home-page header {
  background-image: url(../src/Assets/header-img.jpg);
  background-size: cover;
  background-position: center center;
}

header h1 {
  font-size: 5rem;
}

.home-page header h1,
.home-page header h2 {
  text-shadow: 2px 2px 8px #ffffff;
}

.menu-section {
  background-image: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) , url(./Assets/menu-img.jpg);
  background-size: cover;
  background-position: center;
}

img {
  border-style: solid;
  border-width: .3125rem;
}

.menu-page header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5)), url(./Assets/menu-img.jpg);
  height: 50vh;
}

.about-page header {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./Assets/about2.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.reviews-section img {
  width: 15%;
  border-width: thin;
}

.contact-page header {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./Assets/contact-page-img.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.custom-icon {
  width: 60px;
  height: 60px;
  background-color: #252525;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 48rem) {
  header h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 36rem) {
  header h1 {
    font-size: 3rem;
  }
}